.navbar {
    width: 100%;
    background: transparent; /* Start with a transparent background */
    color: #FFFFFF;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition: background 0.5s ease-in-out; /* Smooth transition */
}

.logo {
    width: 180px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

/* Change navbar background to blue when scrolled */
.blue-nav {
    background: #212EA0; /* Solid blue background */
}

.btn {
    background: #FFF;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
